.search{
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
}

.search_disable{
    justify-content: center;
    align-items: center;
}

.search_active{
    align-items: center;
    height: 100%;
}

.search__input_disable{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 686px;
}

.search__input_active{
    width: 1040px;
}

.search__header-title_disable{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
}

.search__header-title_active{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
}